[submodule "ansible/roles/jsmiley.provision_ec2"]
	path = ansible/roles/jsmiley.provision_ec2
	url = git@github.com:jimRsmiley/ansible-role-provision-ec2.git
[submodule "ansible/roles/jsmiley.git"]
	path = ansible/roles/jsmiley.git
	url = git@bitbucket.org:jimrsmiley/ansible-jsmiley-git.git
[submodule "ansible/roles/jsmiley.vim"]
	path = ansible/roles/jsmiley.vim
	url = git@bitbucket.org:jimrsmiley/ansible-jsmiley-vim.git
