provision/hosts/production
provision/config/ssh
*.swp
.DS_store
user_config
/whathood
TODO.md
whathood.local.yaml
/tmp
.vagrant/
/cookbooks/
/tmp/librarian/
*.retry
ansible/hosts
ansible/roles/nodesource.node
ansible/roles/rvm_io.ruby/
ansible/roles/angstwad.docker_ubuntu
vpass
