[submodule "ansible/roles/jsmiley.provision_ec2"]
	path = ansible/roles/jsmiley.provision_ec2
	url = https://github.com/jimRsmiley/ansible-role-provision-ec2
[submodule "ansible/roles/jsmiley.vim"]
	path = ansible/roles/jsmiley.vim
	url = https://github.com/jimRsmiley/ansible-vim
[submodule "ansible/roles/jsmiley.git"]
	path = ansible/roles/jsmiley.git
	url = https://github.com/jimRsmiley/ansible-role-git
[submodule "ansible/roles/jsmiley.bash"]
	path = ansible/roles/jsmiley.bash
	url = https://github.com/jimRsmiley/ansible-role-bash
[submodule "ansible/roles/whathood.ruby"]
	path = ansible/roles/whathood.ruby
	url = https://github.com/whathood/ansible-role-ruby
