log_file: /var/log/whathood/php-zend.log
application_dir: /var/www/whathood/app
default_grid_resolution: {{boundary_build_grid_res}}
heatmap_grid_resolution: {{heatmap_build_grid_res}}
email:
  fromAddress: whathood@whathood.in

rollbar_access_token: {{rollbar_access_token}}
google_ui: {{ google_ui }}
email:
  smtpHost: {{ email_smtp_host }} 
  smtpPort: {{ email_smtp_port }}
  smtpUser: {{ email_smtp_user }}
  smtpPass: "{{ email_smtp_pass }}"
  fromAddress: {{ email_from_address }}
  toAddress: {{ email_to_address }}


