description "Whathood Queue Workers"
author "James Smiley"

start on filesystem and started wh-nginx
stop on runlevel [!2345]

respawn

script
  /usr/bin/docker exec nginx /bin/sh -c 'cd /var/www/whathood && ./bin/process_queue'
end script

post-stop script
  ps aux | grep -v grep | grep process_queue | awk '{ print $2}' | xargs kill
  /usr/bin/docker exec nginx /bin/sh -c 'ps aux | grep -v grep | grep "message_queue" | awk "{ print \$2 }" | xargs kill -9'
end script

